body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar-thumb {
  background: lightslategray;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}
th,
td {
  padding: 5px 9px;
}
.srt {
  width: 100%;
}
.srt .srt-wrapper th {
  background-color: lightsalmon;
}
.srt .srt-wrapper table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.wrapper {
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.highlight-wrapper {
  width: 100%;
}
.highlight-wrapper code {
  max-height: 350px;
  overflow-y: auto;
  width: 100%;
}
.highlight-wrapper pre {
  width: auto;
}
.highlight-wrapper code {
  font-family: monospace;
  display: block;
}
